runs:

  using: "composite"

  steps:

  - name: Ninja build and test
    run: cmake --workflow ninja --fresh
    shell: bash

  - name: GNU Make build and test
    run: cmake --workflow gmake --fresh
    shell: bash

  - name: upload CMakeConfigureLog.yaml
    if: failure() && hashFiles('build/CMakeFiles/CMakeConfigureLog.yaml') != ''
    uses: actions/upload-artifact@v6
    with:
      name: ${{ runner.os }}-${{ env.CC }}-${{ env.FC }}-CMakeConfigureLog.yaml
      path: build/CMakeFiles/CMakeConfigureLog.yaml
